<div class="mt-4">

    <div class="row">

        <% courses.forEach(funtion(course)  { %>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <a href="/courses/<% courses.slug %>">
                        <img class="card-img-top" src="<%= courses.image %>" alt="<% courses.name %>">
                    </a>
                    <div class="card-body">
                        <a href="/courses/<% courses.slug %>">
                            <h5 class="card-title"><%= courses.name  %></h5>
                        </a>
                        <p class="card-text"><%= courses.description %></p> 
                        <a href="#" class="btn btn-primary">Buy The Courss</a>
                    </div>
                </div>
            </div>
        <% }); %>

    </div>
</div>